@import "tailwindcss";
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

.animate-delay-1 {
  animation-delay: 0.15s;
}
.animate-delay-2 {
  animation-delay: 0.3s;
}
.animate-delay-3 {
  animation-delay: 0.45s;
}
.animate-delay-4 {
  animation-delay: 0.6s;
}
