@import "tailwindcss";
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

.animate-delay-1 {
  animation-delay: 0.15s;
}
.animate-delay-2 {
  animation-delay: 0.3s;
}
.animate-delay-3 {
  animation-delay: 0.45s;
}
.animate-delay-4 {
  animation-delay: 0.6s;
}

:root{
  --site-bg: #FAF7E5;
  --accent-orange-start: #f97316; /* orange-500 */
  --accent-orange-end: #fb923c; /* orange-400 */
  --footer-start: #312e81; /* indigo-900 approximation */
  --footer-end: #4c1d95; /* purple-900 approximation */
}

